#effect {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.highlight {
  background-color: red;
  width: 200px !important;
}

.shrink {
  background-color: gray;
  width: 50px !important;
}

.green-box {
  background-color: green;
}

.border {
  border: 2px solid blue;
}

.yellow-box {
  height: 50px;
  background-color: yellow;
}
.purple-box {
  height: 50px;
  background-color: purple;
}
.black-box {
  height: 50px;
  background-color: black;
}
.red {
  background-color: red;
  height: 50px;
  width: 50px;
}

.rounded {
  border-radius: 50%;
}

.greenish {
  background-color: rgb(137, 139, 137);
}
